<div id="header">
    <div class="header_menu">
        <ul>
            <li>a</li>
            <li>b</li>
            <li>c</li>
        </ul>
    </div>
    <!-- <button onclick="isLoggout()">ログアウトボタン（仮）</button> -->
    <button id="logout">ログアウトボタン（仮）</button>
</div>