<div class="page_class" id="home_page">
    <%- include('./setupProfile.ejs') %>
    <%- include('./postArticle.ejs') %>
    <%- include('./postList.ejs') %>
    <%- include('./inquiry.ejs') %>
</div>
