<div class="page_class" id="inquiry_page">
    <h2>問い合わせ</h2>
    <input type="text" id="inquiry_name">氏名<br>
    <textarea id="inquiry_area" rows="4" cols="40" placeholder="入力"></textarea><br>
    <button type="button" class="btn btn-primary rounded-0" id="send_inquiry">送信</button>
</div>