<div id="login">
    <h2>ログイン</h2><br>
    <div>
        <label for="">ユーザ</label><input type="text" placeholder="ユーザ名" id="loginuser">
    </div>
    <div>
        <label for="">パスワード</label><input type="password" placeholder="パスワード" id="loginpassword">
    </div>
    <div onclick="isLoggin()" id="loginbutton">
        <button>ログイン</button>
    </div>
    <button onclick="isCreateUser()">新規会員登録へ</button>
</div>