<div class="page_class" id="login_page">
    <h2>ログイン</h2><br>
    <div>
        <label for="">ユーザ</label><input type="text" placeholder="ユーザ名" id="loginuser">
    </div>
    <div>
        <label for="">パスワード</label><input type="password" placeholder="パスワード" id="loginpassword">
    </div>
    <div id="login_btn">
        <button>ログイン</button>
    </div>
    <button id="create_user_btn">新規会員登録へ</button>
</div>