<div class="page_class" id="new_register_page">
    <h2>新規会員</h2><br>
    <div>
        <label for="">ユーザ</label><input type="text" placeholder="ユーザ名" id="user">
    </div>
    <div>
        <label for="">パスワード</label><input type="password" placeholder="パスワード" id="password">
    </div>
        <button id="new_register_btn">送信</button>
    <button id="go_home_btn">ログイン画面へ</button>
</div>
