<div id="newtouroku">
    <h2>新規会員</h2><br>
    <div>
        <label for="">ユーザ</label><input type="text" placeholder="ユーザ名" id="user">
    </div>
    <div>
        <label for="">パスワード</label><input type="password" placeholder="パスワード" id="password">
    </div>
    <div onclick="getLoginToken()" id="loginbutton">
        <button>送信</button>
    </div>
    <button onclick="goHome()">ログイン画面へ</button>
</div>
