<div class="page_class">
    <div class="mb-3">
        <label for="exampleFormSelect1" class="form-label">選択の例</label>
        <select class="form-select" id="exampleFormSelect1">
            <option selected>選択してください</option>
            <option value="1">ゲーム</option>
            <option value="2">スポーツ</option>
            <option value="3">アニメ</option>
            <option value="4">芸能</option>
            <option value="5">その他</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">得意な知識</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">知りたい知識</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">他何かあれば</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">送信する</button>
</div>